<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        .logout{
            margin-top:-3%;
            margin-left: 86%;

        }
    </style>
</head>
<body>
<header >
    <div style="background:#A0A0A0; height:90px;margin-top:-25px"> </div>


    <div class="logout"> <a href="/adminLogout" name="logout" > LOGOUT</a>

    </div>

</header>

</body>
</html>
